body{
    font-family: 'Segoe UI', sans-serif;
    transition: 0.3s;
}

.hero{
    height: 100vh;
    background: linear-gradient(135deg, #0d6efd, #00c6ff);

}

.glass-navbar{
    background: rgba(0, 0, 0, 3);
    backdrop-filter: blur(10px);
}

.fintech-card{
    border-radius: 15px;
    transition: 0.3s;
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
}

.fintech-card:hover {
  transform: translateY(-10px);
}

.stats {
  background: linear-gradient(135deg, #0d6efd, #00c6ff);
}

.reveal {
  opacity: 0;
  transform: translateY(40px);
  transition: 1s;
}

.reveal.active {
  opacity: 1;
  transform: translateY(0);
}

.gallery-item {
  transition: 0.4s;
}

.gallery-item.hide{
    display: none;
}

footer {
    background:#0d6efd;
}




