body{
    font-family: 'Segoe UI', sans-serif;
    transition: 0.3s;
}

.hero{
    height: 100vh;
    background: linear-gradient(135deg, #0d6efd, #00c6ff);

}

.glass-navbar{
    background: rgba(0, 0, 0, 3);
    backdrop-filter: blur(10px);
}